
*{
    color: #171D1A;
}
.services{
    margin-top: 100px;
    display: grid;
    place-items: center;
}
.serviceDetails{
    max-width: 1000px;
    width: 100%;

}
.serviceDetails .head{
    font-family: "Poppins", sans-serif;
    padding-left: 20px;
    margin-right: auto;
}
.serviceContainer{
    padding: 10px;
    /* border: 1px solid #ccc; */
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.sloganHead{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.serviceSlogan{
    padding-right: 20px;
    max-width: 400px;
    padding-bottom: 20px;
}
.serviceSlogan .head{
    margin-left: -20px;
}
.serviceSlogan button{
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    text-align: left;
    /* color: #5F10F4; */
    color: var(--yellow);
    border: none;
    background-color: #fff;
}
.serviceBox{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.info{
    font-family: "Poppins", sans-serif;
}
@media (max-width: 750px){
    .serviceBox{
        flex-direction: column;
    }
}